extends ../../layouts/page/page
include ../../blocks/about-room/about-room
include ../../blocks/advantages/advantages
include ../../blocks/doughnut/doughnut
include ../../blocks/room-comments/room-comments
include ../../blocks/rules/rules
include ../../blocks/reset/reset

block variables
  - const data = require('./room-details.json')
  - const { title, headerOptions, footerOptions } = data;
block content
  - const { roomPreviewOptions, aboutRoomOptions, doughnutOptions, advantagesOptions, rulesOptions, resetOptions, roomCommentsOptions } = data;
  main.room-details
    .room-details__preview
      - const { mainImgUrl, restImgUrls } = roomPreviewOptions;
      .room-details__preview-gallery.room-details__preview-gallery_main
        img(src = mainImgUrl ).room-details__preview-img
      .room-details__preview-gallery.room-details__preview-gallery_other
        each restImgUrl in restImgUrls
          img(src= restImgUrl).room-details__preview-img
    .room-details__content.content-wrapper
      .room-details__content-column.room-details__content-column_main
        .room-details__content-row
          .room-details__advantages
            +advantages(advantagesOptions)
          .room-details__doughnut
            +doughnut(doughnutOptions)
        .room-details__content-row
          .room-details__room-comments
            +room-comments(roomCommentsOptions)
        .room-details__content-row
          .room-details__rules
            +rules(rulesOptions)
          .room-details__reset
            +reset(resetOptions)
      .room-details__content-column.room-details__content-column_side
        .room-details__about-room
          +about-room(aboutRoomOptions)