include ../button/button
include ../input/input

mixin sign-in()
  article.sign-in
    .sign-in__content
      h1.sign-in__title Войти
      form(action="mock").sign-in__form
        .sign-in__input
          +input({ placeholder: "Email" })
        .sign-in__input
          +input({ placeholder: "Пароль" })
        .sign-in__submit-button
          +button({ text: "Войти", type: "submit" })
      .sign-in__registration
        span.sign-in__registration-text Нет аккаунта на Toxin?
        .sign-in__registration-button
          +button({ text: "Создать", type: "stroked" })
      