include ../button/button
include ../input/input

mixin sign-in({ title = "", inputsOptions = [], signInButtonOptions = {}, registrationButtonOptions = {}, registrationText = "" } = {})
  article.sign-in
    .sign-in__content
      h1.sign-in__title Войти
      form(action="mock").sign-in__form
        each inputOptions in inputsOptions
          .sign-in__input
            +input(inputOptions)
        .sign-in__submit-button
          +button(signInButtonOptions)
      .sign-in__registration
        span.sign-in__registration-text= registrationText
        .sign-in__registration-button
          +button(registrationButtonOptions)
      