.colors-and-types {
  box-sizing: border-box;
  padding: 145px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 736px) {
    justify-content: center;
    &__colors {
      margin-bottom: 40px;
    }
  }
}