extends ../../layouts/ui-kit/ui-kit
include ../../blocks/colors/colors
include ../../blocks/types/types

block title
  title Colors &amp Types
block content
  section.colors-and-types.content-wrapper
    .colors-and-types__colors
      +colors()
    .colors-and-types__types  
      +types()