extends ../../layouts/ui-kit/ui-kit
include ../../blocks/colors/colors
include ../../blocks/types/types

block title
  title Colors &amp Types
block content
  - 
    const { colorsOptions, typesOptions } = require('./colors-and-types.json');
  main.colors-and-types.content-wrapper
    .colors-and-types__colors
      +colors(colorsOptions)
    .colors-and-types__types  
      +types(typesOptions)