.rules {
  &__title {
    @include h2Like;
    margin-left: 19px;
    margin-bottom: 13px;
  }

  @media screen and (max-width: $mediumBreakpoint) {
    &__title {
      text-align: center;
    }
  }
}