include ../arrow/arrow

mixin button(options)
  - 
    const { type, focused, text, formId } = options;
    const classMod = `button_${type}`;
  button.button(type = "button", class = classMod, form = formId)= text
    if type === "submit"
      .button__arrow
        +arrow({ type: "send" })