include ../arrow/arrow

mixin button({ type = "submit", text = "", formId = "", isHovered = false } = {})
  - 
    const isCorrectButtonType = ["submit", "sign-in", "registr", "filled", "stroked", "apply", "reset"].includes(type);
    const classMod = isCorrectButtonType ? `button_${type}` : "button_submit";
    const hoverClass = isHovered ? "button_hover" : "";
  button.button(type = "button", class = `${classMod} ${hoverClass}`, form = formId)= text
    if type === "submit" && isCorrectButtonType
      .button__arrow
        +arrow({ colorTheme: "secondary" })