.button {
  @include button-reset;
  @include h3Like;

  
  &__arrow {
    position: absolute;
    fill: white;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }

  &_filled, &_registr {
    color: #fff;
    background-image: $tertiaryGradient;
    border-radius: 22px;
    padding: 14px 20px 15px;
  }

  &_submit {
    position: relative;
    width: 100%;
    color: #fff;
    background-image: $tertiaryGradient;
    border-radius: 22px;
    padding: 14px 35px 15px;
  }

  &_stroked, &_sign-in {
    position: relative;
    transform-style: preserve-3d;
    color: $tertiaryColor;
    background-color: #fff;
    border-radius: 20px;
    margin: 2px;
    padding: 12px 18px 13px;
    &:before {
      position: absolute;
      content: '';
      transform: translateZ(-1px);
      border-radius: 22px;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background-image: $tertiaryGradient;
    }
  }

  &_registr {
    padding: 10px 20px;
  }

  &_sign-in {
    padding: 8px 18px;
  }

  &_apply {
    color: $tertiaryColor;
  }

  &_reset {
    color: rgba($primaryColor, 0.5);
  }

  &_registr,
  &_filled {
    &:focus, &:hover, &.hover {
      opacity: 0.5;
    }
  }

  &_stroked,
  &_sign-in {
    &:focus, &:hover, &.hover {
      &:before {
        opacity: 0.5;
      }
    }
  }

  
  &_stroked.button_hover {
    &:before {
      opacity: 0.5;
    }
  }

  &_filled.button_hover {
    opacity: 0.5;
  }

}