include ../arrow/arrow

mixin button(options)
  - 
    const { type, focused, text, formId, hover } = options;
    const classMod = `button_${type}`;
    const hoverClass = hover ? "button_hover" : "";
  button.button(type = "button", class = `${classMod} ${hoverClass}`, form = formId)= text
    if type === "submit"
      .button__arrow
        +arrow({})