include ../button/button
include ../dropdown-goods/dropdown-goods
include ../dropdown-calendar/dropdown-calendar

mixin number-search()
  article.number-search
    .number-search__content
      h1.number-search__title Найдем номера под ваши пожелания
      .number-search__dropdown-calendar
        +dropdown-calendar(
          {
            inputsOptions: [
              {
                placeholder: "ДД.ММ.ГГГГ",
                title: "Прибытие",
                expandButton: true,
              },
              {
                placeholder: "ДД.ММ.ГГГГ",
                title: "Выезд",
                expandButton: true,
              }
            ]
          }
        )
      .number-search__dropdown-goods
        +dropdown-goods(
          {
            type: "guests",
            applyButton: true,
            resetButton: true,
            inputOptions: {
              placeholder: "Сколько гостей",
              title: "Гости",
            }
          }
        )
      .number-search__submit-button
        +button({ text: "Подобрать номер", type: "submit"})
