.number-search {
  @include cardShadow;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  box-sizing: border-box;
  padding: 40px 0 29px 0;
  border-radius: 4px;

  &__content {
    width: 320px;
    margin: 0 auto;
  }

  &__title {
    @include h1Like;
    margin-bottom: 20px;
  }

  &__dropdown {
    position: relative;
    margin-bottom: 22px;
    z-index: 2;
    &:last-of-type {
      z-index: 1;
      margin-bottom: 30px;
    }
  }
}