include ../comment/comment

mixin room-comments({ title = "",commentsCountText = "", commentsOptions = [] } = {})
  - const commentsCount = commentsOptions.length;
  section.room-comments
    .room-comments__header
      h2.room-comments__title= title
      span.room-comments__count= `${commentsCount} ${commentsCountText}`
    ul.room-comments__list
      each commentOptions in commentsOptions
        li.room-comments__item
          .room-comments__comment
            +comment(commentOptions)