include ../comment/comment

mixin room-comments()
  section.room-comments
    .room-comments__header
      h2.room-comments__title Отзывы поситителей номера
      span.room-comments__count 2 отзыва
    ul.room-comments__list
      - 
        const commentsProps = [
          {
            url: require('../../img/murad-saraphanov.png').default,
            name: 'Мурад Сарафанов',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            date: '5 дней назад',
            like: {
              liked: true,
              count: 12,
            }
          },
          {
            url: require('../../img/patrisiya-steklishkova.png').default,
            name: 'Патрисия Стёклышкова',
            text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
            date: 'неделю назад',
            like: {
              liked: false,
              count: 2,
            }
          },
        ];
      each commentProps in commentsProps
        li.room-comments__item
          .room-comments__comment
            +comment(commentProps)