.about-room {
  @include cardShadow;
  border: 1px solid rgba(0, 0, 0, 0.12);
  max-width: 380px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.about-room__content {
  margin: 0 auto;
  width: 320px;
}

.about-room__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.about-room__number {
  font-family: $likeHeadingFont; 
  font-size: 24px;
  line-height: 30px;
  color: $mainColor;
  &--luxe {
    position: relative;
    &:before {
      content: 'Люкс';
      position: absolute;
      text-transform: uppercase;
      font-family: $decorativeFont;
      color: $purpleColor;
      font-size: 12px;
      line-height: 15px;
      right: -5px;
      transform: translateX(100%);
      bottom: 3px;
    }
  }
}

.about-room__price-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
  color: rgba($mainColor, 0.5);
}

.about-room__price {
  font-family: $decorativeFont;
  font-size: 14px;
  margin-right: 5px;
}

.about-room__price-postfix {
  font-style: 12px;
}

.about-room__form {
  margin-bottom: 20px;
}

.about-room__dropdown {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.about-room__table-wrapper {
  position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 182px;
      height: 0;
      bottom: 5px;
      border-bottom: 1px dashed rgba($mainColor, 0.25);
      left: 50%;
      transform: translateX(-53%);
    }
}

.about-room__table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

.about-room__td {
  padding: 0;
  &:first-of-type {
    width: 214px;
  }
  &:nth-of-type(3) {
    text-align: right;
  }
  &:nth-of-type(2) {
    text-align: center;
  }
}

.about-room__tr {
  &:not(:last-of-type) {
    border-bottom: 10px solid transparent;
  }
  &:last-of-type {
    border-top: 30px solid transparent;
  }
}

.about-room__th {
  padding: 0;
  font-family: $likeHeadingFont;
  color: $mainColor;
  font-size: 19px;
  line-height: 24px;
  &:first-of-type {
    text-align: left;
  }
  &:last-of-type {
    text-align: right;
  }

}

.about-room__info {
  box-sizing: border-box;
  @include button-reset;
  font-family: $decorativeFont;
  color: rgba($mainColor, 0.25);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba($mainColor, 0.25);

}