// .js-dropdown
// .js-dropdown__popup
// .js-dropdown__button

.js-dropdown {
  &--close {
    .js-dropdown__popup {
      display: none;
      
    }
  }
  &--open {
    .js-dropdown__popup {
      display: block; 
    }
    &:not(.calndar) {
      .input {
        border-color: rgba($mainColor, 0.5);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .checkboxes__expand-button {
      &:before {
        transform: translateX(-50%) translateY(-50%) rotate(-135deg);
      }
    }
  }
}