include ../expand-button/expand-button

mixin goods-input({ title = "", placeholder = "", isHightlighted = false, value = "", status = "", isOened = false })
  - const hightlightClass = isHightlighted ? "goods-input__input_hightlight" : "";
  .goods-input
    h3.goods-input__title= title
    if (status !== "")
      span.goods-input__status= status
    .goods-input__expand-button
      +expand-button({ isOpened })
    input.goods-input__input(type="text", value = value, class = hightlightClass, placeholder = placeholder, readonly = true)
