@font-face {
  font-family: "open-sans-regular";
  src: url("../../fonts/open-sans/open-sans-regular.eot");
  src: url("../../fonts/open-sans/open-sans-regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/open-sans/open-sans-regular.svg") format("svg"),
    url("../../fonts/open-sans/open-sans-regular.ttf") format("truetype"),
    url("../../fonts/open-sans/open-sans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans-bold";
  src: url("../../fonts/open-sans/open-sans-bold.eot");
  src: url("../../fonts/open-sans/open-sans-bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/open-sans/open-sans-bold.svg") format("svg"),
    url("../../fonts/open-sans/open-sans-bold.ttf") format("truetype"),
    url("../../fonts/open-sans/open-sans-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../../fonts/montserrat/montserrat-bold.eot");
  src: url("../../fonts/montserrat/montserrat-bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/montserrat/montserrat-bold.svg") format("svg"),
    url("../../fonts/montserrat/montserrat-bold.ttf") format("truetype"),
    url("../../fonts/montserrat/montserrat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("../../fonts/montserrat/montserrat-regular.eot");
  src: url("../../fonts/montserrat/montserrat-regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/montserrat/montserrat-regular.svg") format("svg"),
    url("../../fonts/montserrat/montserrat-regular.ttf") format("truetype"),
    url("../../fonts/montserrat/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}