@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
@mixin h1Like {
  font-family: $firstLvlHeadingFont;
  color: $mainColor;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

@mixin h2Like {
  font-family: $secondLvlHeadingFont;
  color: $mainColor;
  font-size: 19px;
  line-height: 24px;
  margin: 0;
}

@mixin h3Like {
  font-family: $thirdLvlHeadingFont;
  text-transform: uppercase;
  color: $mainColor;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

@mixin h4Like {
  font-family: $fourthLvlHeadingFont;
  color: rgba($mainColor, 0.75);
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

@mixin cardShadow {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}