// colors
  $mainColor: #1F2041;
  $greenColor: #6FCF97;
//fonts
  //heading fonts
  $firstLvlHeadingFont: "OpenSans-Bold";
  $secondLvlHeadingFont: "OpenSans-Bold";
  $thirdLvlHeadingFont: "Montserrat-Bold";
//main font
  $bodyFont: "Montserrat-Regular";
// other fonts
  $likeHeadingFont: "OpenSans-Bold";
  $colorHashFont: "OpenSans-Regular";