// colors
  $mainColor: #1F2041;
  $greenColor: #6FCF97;
  $purpleColor: #BC9CFF;
  $yellowGradient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  $purpleGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  $greenGradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  $blackGradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);;
//fonts
  //heading fonts
  $firstLvlHeadingFont: "OpenSans-Bold";
  $secondLvlHeadingFont: "OpenSans-Bold";
  $thirdLvlHeadingFont: "Montserrat-Bold";
  $fourthLvlHeadingFont: "Montserrat-Bold";
//main font
  $bodyFont: "Montserrat-Regular";
// other fonts
  $decorativeFont: "Montserrat-Bold";
  $likeHeadingFont: "OpenSans-Bold";
  $colorHashFont: "OpenSans-Regular";