.search-room {
  padding-top: 30px;
  padding-bottom: 71px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
  &__search-room {
    max-width: 834px;
  }

  &__search-room-title {
    @include h1Like;
    margin-bottom: 20px;
    @media screen and (max-width: 1159px) {
      text-align: center;
      padding: 0 20px;
    }
  }

  &__search-room-list {
    @include reset-list;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 19px 12px;
  }

  &__search-room-item {
    width: 270px;
  }

  &__search-room-pagination {
    margin: 0 auto;
    width: 241px;
    margin-top: 41px;
    padding-right: 13px;
  }

  &__filter {
    width: 266px;
  }

  &__filter-dropdown-calendar {
    position: relative;
    z-index: 3;
    margin-bottom: 20px;
  }

  &__filter-dropdown-goods {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
  }

  &__filter-range-slider {
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
  }

  &__filter-checkboxes {
    margin-bottom: 30px;
    &_default {
      width: 222px;
    }
  }
  @media screen and (max-width: 540px) {
    padding-left: 0;
    padding-right: 0;
  }
}