extends ../../layouts/page/page
include ../../blocks/room/room
include ../../blocks/pagination/pagination
include ../../blocks/dropdown-calendar/dropdown-calendar
include ../../blocks/dropdown-goods/dropdown-goods
include ../../blocks/range-slider/range-slider
include ../../blocks/checkboxes/checkboxes

block variables
  - const data = require('./search-room.json')
  - const { title, headerOptions, footerOptions } = data;
block content
  - const { calendarDropdownOptions, dropdownGoodsGuestsOptions, rangeSliderOptions, defaultCheckboxesOptions, richCheckboxesOptions, dropdownGoodsGoodsOptions, expandableCheckboxesOptions, roomsOptions, paginationOptions } = data;
  main.search-room
    .search-room__content.content-wrapper
      section.search-room__filter
        .search-room__filter-dropdown-calendar
          +dropdown-calendar(calendarDropdownOptions)
        .search-room__filter-dropdown-goods.search-room__filter-dropdown-goods_guests
          +dropdown-goods(dropdownGoodsGuestsOptions)
        .search-room__filter-range-slider
          +range-slider(rangeSliderOptions)
        .search-room__filter-checkboxes.search-room__filter-checkboxes_default
          +checkboxes(defaultCheckboxesOptions)
        .search-room__filter-checkboxes
          +checkboxes(richCheckboxesOptions)
        .search-room__filter-dropdown-goods.search-room__filter-dropdown-goods_goods
          +dropdown-goods(dropdownGoodsGoodsOptions)
        .search-room__filter-checkboxes
          +checkboxes(expandableCheckboxesOptions)
      section.search-room__search-room
        h1.search-room__search-room-title Номера, которые мы для вас подобрали
        ul.search-room__search-room-list
          each roomOptions in roomsOptions
            li.search-room__search-room-item
              .search-room__room
                +room(roomOptions)
        .search-room__search-room-pagination
          +pagination(paginationOptions)