include ./color
mixin colors()
  ul.colors(class = attributes.class)
    +color({ name: 'Dark Shade 100%', hash: '#1F2041' }).colors__color--100
    +color({ name: 'Dark Shade 75%', hash: '#1F2041' }).colors__color--75
    +color({ name: 'Dark Shade 50%', hash: '#1F2041' }).colors__color--50
    +color({ name: 'Dark Shade 25%', hash: '#1F2041' }).colors__color--25
    +color({ name: 'Dark Shade 5%', hash: '#1F2041' }).colors__color--5
    +color({ name: 'Purple', hash: '#BC9CFF' }).colors__color--purple
    +color({ name: 'Green', hash: '#6FCF97' }).colors__color--green
