include ./color
mixin colors()
  ul.colors
    +color({ text: 'Dark Shade 100%', hash: '#1F2041', modifier: '100' })
    +color({ text: 'Dark Shade 75%', hash: '#1F2041', modifier: '75' })
    +color({ text: 'Dark Shade 50%', hash: '#1F2041', modifier: '50' })
    +color({ text: 'Dark Shade 25%', hash: '#1F2041', modifier: '25' })
    +color({ text: 'Dark Shade 5%', hash: '#1F2041', modifier: '5' })
    +color({ text: 'Purple', hash: '#BC9CFF', modifier: 'purple' })
    +color({ text: 'Green', hash: '#6FCF97', modifier: 'green' })
