include ./color
mixin colors()
  ul.colors(class = attributes.class)
    +color({ name: 'Dark Shade 100%', hash: '#1F2041' }).colors__color_100
    +color({ name: 'Dark Shade 75%', hash: '#1F2041' }).colors__color_75
    +color({ name: 'Dark Shade 50%', hash: '#1F2041' }).colors__color_50
    +color({ name: 'Dark Shade 25%', hash: '#1F2041' }).colors__color_25
    +color({ name: 'Dark Shade 5%', hash: '#1F2041' }).colors__color_5
    +color({ name: 'Purple', hash: '#BC9CFF' }).colors__color_purple
    +color({ name: 'Green', hash: '#6FCF97' }).colors__color_green
