//-
  options.name - имя цвета
  options.hash - hash цвета

mixin color(options)
  - const { name, hash } = options;
  li.colors__color(class = attributes.class)
    span.colors__color-name= name
    span.colors__color-hash= hash