mixin color({ text = "", hash = "", modifier = "" } = {})
  - 
    const isCorrectModifier = ["100", "75", "50", "25", "5", "purple", "green"].includes(modifier);
    const classModifier = isCorrectModifier ? `colors__color_${modifier}` : "colors__color_100";
  li.colors__color(class = classModifier)
    span.colors__color-name= text
    span.colors__color-hash= hash