mixin input({ placeholder = "", value = "", isAutofocused = false, maskType = "" } = {})
  - 
    const NAME_MASK = "c{2,20}|a{2,20}";
    const MASK_PROPS = {
      email: {
        placeholder: "_",
        mask: "*{4,20}@*{4,20}.*{2,7}",
        type: 'text',
      },
      date: {
        placeholder: "_",
        mask: "9{2}.9{2}.9{4}",
        type: 'text',
      },
      password: {
        placeholder: '',
        mask: "*{6,20}",
        type: 'password',
      },
      firstName: {
        placeholder: "",
        mask: NAME_MASK,
        type: 'text',
      },
      secondName: {
        placeholder: "",
        mask: NAME_MASK,
        type: 'text',
      }
    }
    const isCorrectMaskType = ["firstName", "secondName", "date", "email", "password"].includes(maskType);
    const inputAttributes = {};
    if (isCorrectMaskType) {
      const { mask, placeholder, type } = MASK_PROPS[maskType];
      inputAttributes["data-inputmask"] = `'placeholder': '${placeholder}', 'mask': '${mask}'`;
      inputAttributes["type"] = type;
    }
  input&attributes(inputAttributes)(placeholder = placeholder, autofocus = isAutofocused, value = value).input