mixin input({ placeholder = "", value = "", isAutofocused = false, type = "text", isMasked = false})
  - 
    const inputType = ["email", "password", "text"].includes(type) ? type : "text";
    const maskedClass = isMasked ? "input_date-mask" : "";
  input(type = type, class = maskedClass, placeholder = placeholder, autofocus = isAutofocused, value = value ).input