.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 44px 8px 14px;
  border-radius: 4px;
  border:1px solid rgba($primaryColor, 0.25);
  font: inherit;
  &::placeholder {
    font: inherit;
    line-height: 18px;
    color: rgba($primaryColor, 0.25);
  }
  &:focus, &:hover, &_hover{
    border: 1px solid rgba($primaryColor, 0.5);
    outline: none;
  }
}