.star-rating {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 115px;

  &__star-svg_filled {
    display: none;
  }

  &__star-svg_stroked {
    display: block;
  }

  &__star_active > &__star-svg_stroked {
    display: none;
  }

  &__star_active > &__star-svg_filled {
    display: block;
  }
}