.expand-button {
  @include button-reset;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  &::before {
    position: absolute;
    content: '';
    box-sizing: border-box;
    border: 2px solid rgba($primaryColor, 0.5);
    width: 9px;
    height: 9px;
    border-top: none;
    border-left: none;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }


  &_opened {
    &:before {
      border: 2px solid rgba($primaryColor, 0.75); 
      border-top: none;
      border-left: none;
    }
  }
}