.reset {
  &__title {
    @include h2Like;
    margin-bottom: 18px;
  }

  &__text {
    max-width: 341px;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    &__title {
      text-align: center;
    }
  }
}