.user-registration {
  background-image: url('../../img/authentication-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 28px 0;
}

.user-registration__registration {
  margin: 0 auto;
}