.user-registration {
  background-image: url('../../img/authentication-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 19px;
  padding-bottom: 17px;

  &__registration {
    max-width: 380px;
    margin: 0 auto;
  }
}