.user-registration {
  background-image: url('../../img/authentication-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 28px 0;

  &__registration {
    max-width: 380px;
    margin: 0 auto;
  }
}