extends ../../layouts/page/page
include ../../blocks/registration/registration

block variables
  - 
    const data = require('./user-registration.json');
    const { title, headerOptions, footerOptions } = data;
block content
  - const { registrationOptions } = data;
  main.user-registration
    .user-registration__registration
      +registration(registrationOptions)