extends ../../layouts/page/page
include ../../blocks/registration/registration

block variables
  - const title = "Registration";
block content
  .user-registration
    .user-registration__registration
      +registration()