mixin checkbox({ name = "", label = "", id = "", about = "", isChecked = false })
  - const classMod = about != "" ? "checkbox_rich" : "";
  .checkbox(class = classMod)
    input.visually-hidden.checkbox__input(type="checkbox", name = name, id = id, checked = isChecked)
    label.checkbox__label(for = id).checkbox__label= label
    if about != ""
      span.checkbox__about !{about} 