.calendar {
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 19px;
  padding-bottom: 15px;
  border-radius: 4px;

  &__content {
    position: relative;
  }

  &__month {
    display: block;
    font-family: $likeHeadingFont;
    color: $primaryColor;
    text-align: center;
    font-size: 19px;
    margin-bottom: 30px;
  }

  &__button {
    @include button-reset;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 24px;
    height: 24px;
    &_next {
      right: 0;
    }
    &_prev {
      left: 0;
      transform: scale(-1,1);
    }
  }

  &__button-svg {
    fill: $tertiaryColor;
  }

  &__table {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 15px;
  }

  &__th {
    font-family: $decorativeFont;
    color: $tertiaryColor;
    width: 40px;
    height: 40px;
  }

  &__td {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    width: 40px;
    height: 40px;
    color: rgba($primaryColor, 0.5);
    &_current-day {
      font-family: $decorativeFont;
      background-image: $secondaryGradient;
      border-radius: 50%;
      color: #fff;
    }
    &_other-month {
      color: rgba($primaryColor, 0.25);
    }
    &_selected {
      background-image: $tertiaryGradient;
      color: #fff;
      font-family: $decorativeFont;
      border-radius: 50%;
    }
  
    &_selected-first, &_selected-last {
      position: relative;
      transform-style: preserve-3d;
      &:after {
        position: absolute;
        transform: translateZ(-1px);
        content: '';
        width: 50%;
        height: 100%;
        background-color: rgba($tertiaryColor, 0.5);
        top: 0;
      }
    }
  
    &_selected-first {
      &:after {
        left: 50%;
      }
    }
    &_selected-last {
      &:after {
        right: 50%;
      }
    }
  
    &_interval {
      position: relative;
      transform-style: preserve-3d;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateZ(-1px);
        background-color: rgba($tertiaryColor, 0.5);
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}