include ../button/button
include ../arrow/arrow

mixin calendar({ applyButtonText = "Применить", resetButtonText = "Очистить" } = {})
  .calendar
    .calendar__content
      span.calendar__month
      button(type = "button").calendar__button.calendar__button_next
        .calendar__button-svg
          +arrow()
      button(type = "button").calendar__button.calendar__button_prev
        .calendar__button-svg
          +arrow()
      table.calendar__table
      .calendar__controls
        .calendar__controls-reset-button
          +button(
            {
              type: "reset",
              text: resetButtonText,
            }
          )
        .calendar__controls-apply-button
          +button(
            {
              type: "apply",
              text: applyButtonText
            }
          )