.like-buttons-card {
  width: 90px;
}

.like-buttons-card__title {
  @include h3Like;
  margin-bottom: 16px;
}

.like-buttons-card__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
}
