include ../dates-input/dates-input
include ../calendar/calendar

mixin dropdown-calendar({ isOpened, inputsOptions = [] })
  - const openedClass = isOpened ? "dropdown-calendar_opened" : "dropdown-calendar_closed";
  .dropdown-calendar(class = openedClass)
    .dropdown-calendar__header
      each inputOptions in inputsOptions
        .dropdown-calendar__input-box
          +dates-input({ ...inputOptions, isOpened })
    .dropdown-calendar__calendar
      +calendar()

