.form-elements {
  padding-top: 140px;
  padding-bottom: 131px;
}

.form-elements__row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
  @media screen and (max-width: 640px){
    justify-content: center;
    align-items: center;
    .form-elements__column {
      margin-bottom: 40px;
    }
  }
}

.form-elements__column {
  width: 320px;
}

.form-elements__row {
  &--first {
    margin-bottom: 100px;
    .form-elements__column {
      &--first {
        .form-elements__input-box {
          &:nth-of-type(4) {
            margin-bottom: 40px;
          }
          margin-bottom: 20px;
        }
        .form-elements__dropdown {
          margin-bottom: 40px;
        }

      }

      &--second {
        width: 260px;
        article:not(:last-of-type) {
          margin-bottom: 40px;
        }
      }

      &--third {
        article:not(:last-of-type) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &--second {
    margin-bottom: 55px;
    .form-elements__column {
      &--first {
        max-width: 266px;
        .form-elements__dropdown {
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &--third {
    margin-bottom: 100px;
    .form-elements__column {
      &--first {
        .form-elements__checkboxes:not(:last-of-type) {
          margin-bottom: 50px;
        }
      }
    }
  }

  &--fourth {
    .form-elements__column {
      &--second {
        width: 711px;
      }
    }
  }
}


