extends ../../layouts/ui-kit/ui-kit
include ../../blocks/input-box/input-box
include ../../blocks/dropdown-goods/dropdown-goods
include ../../blocks/dropdown-calendar/dropdown-calendar
include ../../blocks/subscription-form/subscription-form
include ../../blocks/checkboxes/checkboxes
include ../../blocks/radio-buttons-card/radio-buttons-card
include ../../blocks/toggle-buttons-card/toggle-buttons-card
include ../../blocks/like-buttons-card/like-buttons-card
include ../../blocks/rate-buttons-card/rate-buttons-card
include ../../blocks/range-slider/range-slider
include ../../blocks/buttons-card/buttons-card
include ../../blocks/pagination/pagination
include ../../blocks/bullet-list/bullet-list
include ../../blocks/advantages/advantages
include ../../blocks/comment/comment

block title
  title Form elements
block content
  - const data = require('./form-elements.json');
  main.form-elements.content-wrapper
    .form-elements__row
      - const { rowFirst } = data;
      .form-elements__column
        - const { defaultInputBoxOptions, hoveredInputBoxOptions, dropdownGoodsGuestsOptions, maskedInputBoxOptions, dropdownCalendarDatesOptions, dropdownCalendarFilterDatesOptions, subscriptionFormOptions } = rowFirst.columnFirst;
        .form-elements__input-box
          +input-box(defaultInputBoxOptions)
        .form-elements__input-box
          +input-box(hoveredInputBoxOptions)
        .form-elements__dropdown-goods.form-elements__dropdown-goods_guests
          +dropdown-goods(dropdownGoodsGuestsOptions)
        .form-elements__input-box
          +input-box(maskedInputBoxOptions)
        .form-elements__dropdown-calendar.form-elements__dropdown-calendar_dates
          +dropdown-calendar(dropdownCalendarDatesOptions)
        .form-elements__dropdown-calendar.form-elements__dropdown-calendar_filter-dates
          +dropdown-calendar(dropdownCalendarFilterDatesOptions)
        .form-elements__subscription-form
          +subscription-form(subscriptionFormOptions)
      .form-elements__column
        - const { checkboxesOptions, toggleButtonsCardOptions, rateButtonsCardOptions, likeButtonsCardOptions, radioButtonsCardOptions } = rowFirst.columnSecond;
        .form-elements__checkboxes
          +checkboxes(checkboxesOptions)
        .form-elements__radio-buttons
          +radio-buttons-card(radioButtonsCardOptions)
        .form-elements__toggle-buttons
          +toggle-buttons-card(toggleButtonsCardOptions)
        .form-elements__like-buttons
          +like-buttons-card(likeButtonsCardOptions)
        .form-elements__rate-buttons
          +rate-buttons-card(rateButtonsCardOptions)
      .form-elements__column
        - const { rangeSliderOptions, paginationOptions } = rowFirst.columnThird;
        .form-elements__range-slider
          +range-slider(rangeSliderOptions)
        .form-elements__buttons
          +buttons-card()
        .form-elements__pagintaion
          +pagination(paginationOptions)
    .form-elements__row
      - const { rowSecond } = data;
      .form-elements__column
        - const { dropdownGoodsGoodsDefaultOptions, dropdownGoodsGoodsExpandedOptions } = rowSecond.columnFirst;
        .form-elements__dropdown-goods.form-elements__dropdown-goods_goods
          +dropdown-goods(dropdownGoodsGoodsDefaultOptions)
        .form-elements__dropdown-goods.form-elements__dropdown-goods_goods
          +dropdown-goods(dropdownGoodsGoodsExpandedOptions)
      .form-elements__column
        - const { dropdowGoodsGuestsWithApplyButtonOptions } = rowSecond.columnSecond;
        .form-elements__dropdown-goods.form-elements__dropdown-goods_guests
          +dropdown-goods(dropdowGoodsGuestsWithApplyButtonOptions)
      .form-elements__column
        - const { dropdownGoodsGuestsWithApplyAndResetButtonsOptions } = rowSecond.columnThird;
        .form-elements__dropdown-goods.form-elements__dropdown-goods_guests
          +dropdown-goods(dropdownGoodsGuestsWithApplyAndResetButtonsOptions)
    .form-elements__row
      - const { rowThird } = data;
      .form-elements__column
        - const { emptyExpandableCheckboxesOptions, expandableCheckboxesOptions } = rowThird.columnFirst;
        .form-elements__checkboxes
          +checkboxes(emptyExpandableCheckboxesOptions)
        .form-elements__checkboxes
          +checkboxes(expandableCheckboxesOptions)
      .form-elements__column
        - const { richCheckboxesOptions } = rowThird.columnSecond;
        .form-elements__checkboxes
          +checkboxes(richCheckboxesOptions)
      .form-elements__column
        - const { bulletListOptions } = rowThird.columnThird;
        .form-elements__bullet-list
          +bullet-list(bulletListOptions)
    .form-elements__row
      - const { rowFourth } = data;
      .form-elements__column
        - const { advantagesOptions } = rowFourth.columnFirst 
        .form-elements__advantages
          +advantages(advantagesOptions)
      .form-elements__column
        - const { commentOptions } = rowFourth.columnSecond;
        .form-elements__comment
          +comment(commentOptions)

