extends ../../layouts/ui-kit/ui-kit
include ../../blocks/input-box/input-box
include ../../blocks/dropdown-goods/dropdown-goods
include ../../blocks/dropdown-calendar/dropdown-calendar
include ../../blocks/subscription-form/subscription-form
include ../../blocks/checkboxes/checkboxes
include ../../blocks/radio-buttons-card/radio-buttons-card
include ../../blocks/toggle-buttons-card/toggle-buttons-card
include ../../blocks/like-buttons-card/like-buttons-card
include ../../blocks/rate-buttons-card/rate-buttons-card
include ../../blocks/range-slider/range-slider
include ../../blocks/buttons-card/buttons-card
include ../../blocks/pagination/pagination
include ../../blocks/bullet-list/bullet-list
include ../../blocks/advantages/advantages
include ../../blocks/comment/comment

block title
  title Form elements
block content
  section.form-elements.content-wrapper
    .form-elements__row
      .form-elements__column
        .form-elements__input-box
          +input-box({
            title: 'Text field',
            status: 'Default',
            placeholder: 'Email',
            maskType: "email"
          })
        .form-elements__input-box
          +input-box({
            title: 'Text field',
            status: 'Hover/Focus',
            placeholder: 'text field',
            isAutofocused: true,
            value: 'This is pretty awesome'
          })
        .form-elements__dropdown-goods.form-elements__dropdown-goods_guests
          +dropdown-goods({
              type: "guests",
              inputOptions: {
                placeholder: "Сколько гостей",
                title: "Dropdown",
              }
          })
        .form-elements__input-box
          +input-box({
            maskType: "date",
            placeholder: "ДД.ММ.ГГГГ",
            status: 'Default',
            title: 'Masked Text Field',
          })
        .form-elements__dropdown-calendar.form-elements__dropdown-calendar_dates
          +dropdown-calendar({
            inputsOptions: [
              {
                title: 'Date Dropdown',
                placeholder: "ДД.ММ.ГГГГ",
              },
              {
                title: 'Date Dropdown',
                placeholder: "ДД.ММ.ГГГГ",
              }
            ]
          })
        .form-elements__dropdown-calendar.form-elements__dropdown-calendar_filter-dates
          +dropdown-calendar({
            inputsOptions: [
              {
                title: 'Filter Date Dropdown',
                value: "19 авг - 23 авг",
              },
            ]
          })
        .form-elements__subscription-form
          +subscription-form({
            placeholder: 'Email',
            title: 'Subscription text field'
          })
      .form-elements__column
        .form-elements__checkboxes
          - 
            const checkboxesProps = [
              {
                name: "smoke",
                id: "smoke",
                label: "Можно курить",
                isChecked: false,
              },
              {
                name: "pets",
                id: "pets",
                label: "Можно с питомцами",
                isChecked: true,
              },
              {
                name: "guests",
                id: "guests",
                label: "Можно пригласить гостей (до 10 человек)",
                isChecked: true,
              }
            ];
          +checkboxes({
            title: 'Checkbox buttons',
            list: checkboxesProps,
          })
        .form-elements__radio-buttons
          +radio-buttons-card()
        .form-elements__toggle-buttons
          +toggle-buttons-card()
        .form-elements__like-buttons
          +like-buttons-card()
        .form-elements__rate-buttons
          +rate-buttons-card()
      .form-elements__column
        .form-elements__range-slider
          +range-slider({ title: 'Range Slider' })
        .form-elements__buttons
          +buttons-card()
        .form-elements__pagintaion
          +pagination({ title: 'Pagination' })
    .form-elements__row
      .form-elements__column
        .form-elements__dropdown-goods.form-elements__dropdown-goods_goods
          +dropdown-goods({
            type: 'goods',
            inputOptions: {
              title: 'Dropdown',
              status: 'Default',
              value: '2 спальни, 2 кровати',
            }
          })
        .form-elements__dropdown-goods.form-elements__dropdown-goods_goods
          +dropdown-goods({
            type: 'goods',
            isOpened: true,
            inputOptions: {
              title: 'Dropdown',
              status: 'Expanded',
              value: '2 спальни, 2 кровати'
            }
          })
      .form-elements__column
        .form-elements__dropdown-goods.form-elements__dropdown-goods_guests
          +dropdown-goods({
            type: 'guests',
            hasApplyButton: true,
            isOpened: true,
            inputOptions: {
              title: 'Dropdown',
              placeholder: 'Сколько гостей'
            }
          })
      .form-elements__column
        .form-elements__dropdown-goods.form-elements__dropdown-goods_guests
          +dropdown-goods({
            type: 'guests',
            hasApplyButton: true,
            hasResetButton: true,
            isOpened: true,
            inputOptions: {
              title: 'Dropdown',
              placehlder: 'Сколько гостей'
            }
          })
    .form-elements__row
      .form-elements__column
        .form-elements__checkboxes
          +checkboxes({
            title: 'Expandable checkbox list',
            isOpened: false,
            isExpandable: true,
            list: [],
          })
        .form-elements__checkboxes
          -
            const expandableCheckboxesProps = [
              {
                label: "Завтрак",
                name: "breakfast",
                id: "breakfast",
                isChecked: false,
              },
              {
                label: "Письменный стол",
                name: "desk",
                id: "desk",
                isChecked: true,
              },
              {
                label: "Стул для кормления",
                name: "feeding-chair",
                id: "feeding-chair",
                isChecked: true,
              },
              {
                label: "Кроватка",
                name: "cot",
                id: "cot",
                isChecked: true,
              },
              {
                label: "Телевизор",
                name: "tv",
                id: "tv",
                isChecked: false,
              },
              {
                label: "Шампунь",
                name: "shampoo",
                id: "shampoo",
                isChecked: false,
              }
            ];
          +checkboxes({
            title: 'Expandable checkbox list',
            isExpandable: true,
            isOpened: true,
            list: expandableCheckboxesProps,
          })
      .form-elements__column
        .form-elements__checkboxes
          - 
            const richCheckboxesProps = [
              {
                label: "Широкий коридор",
                name: "wide-corridor",
                id: "wide-corridor",
                about: "Ширина коридоров в номере &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; не менее 91 см.",
              },
              {
                label: "Помощник для инвалидов",
                name: "disabled-assistant",
                id: "disabled-assistant",
                about: "На 1 этаже вас встретит специалист и проводит до номера.",
              }
            ];
          +checkboxes({
            title: 'Rich checkbox buttons',
            isCheckboxesRich: true,
            list: richCheckboxesProps,
          })
      .form-elements__column
        .form-elements__bullet-list
          - const names = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"];
          +bullet-list({ names, title: 'Bullet list' })
    .form-elements__row
      .form-elements__column        
        .form-elements__advantages
          - 
            const advantagesProps = [
              {
                url: require("./img/comfort.svg").default,
                alt: "Комфорт номера",
                title: "Комфорт",
                text: "Шумопоглощающие стены"
              },
              {
                url: require("./img/good.svg").default,
                alt: "Удобство номера",
                title: "Удобство",
                text: "Окно в каждой из спален"
              }
            ];
          +advantages({ list: advantagesProps })
      .form-elements__column
        .form-elements__comment
          +comment({
             url: require('./img/murad-saraphanov.png').default,
             text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
             name: 'Мурад Сарафанов',
             date: '5 дней назад',
             likeButtonProps: {
               count: 12,
               isLiked: true,
             }
          })

