extends ../../layouts/UIKitLayout
include ../../blocks/input-box/input-box
include ../../blocks/dropdown/dropdown
include ../../blocks/subscription-form/subscription-form
include ../../blocks/checkbox/checkbox
include ../../blocks/checkboxes/checkboxes
include ../../blocks/advantages/advantages
include ../../blocks/radio-button/radio-button
include ../../blocks/toggle-button/toggle-button
include ../../blocks/like-button/like-button
include ../../blocks/star-rating/star-rating
include ../../blocks/comment/comment
include ../../blocks/range-slider/range-slider
include ../../blocks/button/button
include ../../blocks/pagination/pagination
include ../../blocks/bullet-list/bullet-list
include ../../blocks/buttons-card/buttons-card
include ../../blocks/rate-buttons-card/rate-buttons-card
include ../../blocks/like-buttons-card/like-buttons-card
include ../../blocks/radio-buttons-card/radio-buttons-card
include ../../blocks/toggle-buttons-card/toggle-buttons-card

block title
  title Form elements
block content
  section.form-elements.content-wrapper
    .form-elements__row.form-elements__row--first
      .form-elements__column.form-elements__column--first
        +input-box({ 
        placeholder: 'Email',
        title: 'Text field',
        status: 'Default',
        }).form-elements__input-box
        +input-box({
          value: 'This is pretty awesome',
          title: 'Text field',
          status: 'hover/focus',
          autofocus: true 
        }).form-elements__input-box
        +input-box(
          {
            title: 'Dropdown',
            expandButton: true,
            status: 'Default',
            placeholder: 'Сколько гостей',
          }
        ).form-elements__input-box
        +input-box({
          title: 'Masked text field',
          status: 'Default',
          placeholder: 'ДД.ММ.ГГ',
          masked: true,
        }).form-elements__input-box
        +dropdown({
          title: 'Date Dropdown',
          secondTitle: 'Date Dropdown',
          type: 'dates',
          placeholder: 'ДД.ММ.ГГ',
          applyButton: false,
          resetButton: false
        }).form-elements__dropdown
        +dropdown({
          placeholder: 'ДД.ММ.ГГ - ДД.ММ.ГГ',
          title: 'Filter Date Dropdown',
          type: 'date-filter',
          applyButton: false,
          resetButton: false
        }).form-elements__dropdown
        +subscription-form({ placeholder: 'Email', title: 'subscription text field' }).form-elements__subscription-form
      .form-elements__column.form-elements__column--second   
        - 
          const checkboxesProps = [
            {
              name: 'smoke',
              id: 'smoke',
              label: 'Можно курить',
              checked: false,
            },
            {
              name: 'pets',
              id: 'pets',
              label: 'Можно с питомцами',
              checked: true,
            },
            {
              name: 'guests',
              id: 'guests',
              label: 'Можно пригласить гостей (до 10 человек)',
              checked: true,
            }
          ];
        +checkboxes(
          {
            title: 'Checkbox Buttons',
            list: checkboxesProps,
          }
        ).form-elements__checkboxes
        +radio-buttons-card().form-elemens__radio-buttons-card
        +toggle-buttons-card().form-elements__toggle-buttons-card
        +like-buttons-card().form-elements__like-buttons-card
        +rate-buttons-card().form-elements__rate-buttons-card
      .form-elements__column.form-elements__column--third
        +range-slider({ title: 'Range slider' }).form-elements__range-slider
        +buttons-card().form-elements__buttons-card
        +pagination({ title: 'Pagination '}).form-elements__pagination
    .form-elements__row.form-elements__row--second
      .form-elements__column.form-elements__column--first
        +dropdown({
          placeholder: 'Удобства номера',
          title: 'Dropdown',
          type: 'goods',
          status: 'Default',
          applyButton: false,
          resetButton: false
        }).form-elements__dropdown
        +dropdown({
          placeholder: 'Удобства номера',
          title: 'Dropdown',
          type: 'goods',
          status: 'Expanded',
          opened: true,
          applyButton: false,
          resetButton: false
        }).form-elements__dropdown
      .form-elements__column.form-elements__column--second
        +dropdown(
          {
            placeholder: 'Сколько гостей',
            title: 'dropdown',
            type: 'guests',
            opened: true,
            applyButton: true,
          }
        ).form-elements__dropdown
      .form-elements__column.form-elements__column--third
        +dropdown(
          {
            placeholder: 'Сколько гостей',
            title: 'dropdown',
            type: 'guests',
            opened: true,
            applyButton: true,
            resetButton: true,
          }
        ).form-elements__dropdown
    .form-elements__row.form-elements__row--third
      .form-elements__column.form-elements__column--first
        -
          const expandableCheckboxesProps = [
            {
              label: 'Завтрак',
              name: 'breakfast',
              id: 'breakfast',
              checked: false,
            },
            {
              label: 'Письменный стол',
              name: 'desk',
              id: 'desk',
              checked: true,
            },
            {
              label: 'Стул для кормления',
              name: 'feeding-chair',
              id: 'feeding-chair',
              checked: true,
            },
            {
              label: 'Кроватка',
              name: 'cot',
              id: 'cot',
              checked: true,
            },
            {
              label: 'Телевизор',
              name: 'tv1',
              id: 'tv1',
              checked: false,
            },
            {
              label: 'Шампунь',
              name: 'shampoo1',
              id: 'shampoo1',
              checked: false,
            },
            {
              label: 'Телевизор',
              name: 'tv2',
              id: 'tv2',
              checked: false,
            },
            {
              label: 'Шампунь',
              name: 'shampoo2',
              id: 'shampoo2',
              checked: false,
            }
          ];
        +checkboxes(
          {
            title: 'Expandable checkbox list',
            expandable: true,
            opened: false
          }
        ).form-elements__checkboxes
        +checkboxes(
          {
            title: 'Expandable checkbox list',
            list: expandableCheckboxesProps,
            expandable: true,
            opened: true
          }
        ).form-elements__checkboxes
      .form-elements__column.form-elements__column--second
        - 
          const richCheckboxesProps = [
            {
              label: 'Широкий коридор',
              name: 'wide-corridor',
              id: 'wide-corridor',
              about: 'Ширина коридоров в номере не менее 91 см.',
            },
            {
              label: 'Помощник для инвалидов',
              name: 'disabled-assistant',
              id: 'disabled-assistant',
              about: 'На 1 этаже вас встретит специалист  и проводит до номера.',
            }
          ];
        +checkboxes(
          {
            title: 'Rich checkbox buttons',
            list: richCheckboxesProps,
          }
        ).form-elements__checkboxes
      .form-elements__column.form-elements__column--third
        -
          const names = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']; 
        +bullet-list({ title: 'Bullet-list', names }).form-elements__bullet-list
    .form-elements__row.form-elements__row--fourth
      .form-elements__column.form-elements__column--first
        - 
          const advantagesProps = [
            {
              url: require('../../img/comfort.svg').default,
              alt: 'Комфорт номера',
              title: 'Комфорт',
              text: 'Шумопоглощающие стены'
            },
            {
              url: require('../../img/good.svg').default,
              alt: 'Удобство номера',
              title: 'Удобство',
              text: 'Окно в каждой из спален'
            }
          ];
        +advantages({ list: advantagesProps }).form-elements__advantages
      .form-elements__column.form-elements__column--second
        +comment(
          {
            url: require('../../img/murad-saraphanov.png').default,
            name: 'Мурад Сарафанов',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            date: '5 дней назад',
            like: {
              liked: true,
              count: 12,
            }
          }
        ).form-elements__comment