mixin radio-button(options)
  - const { name, id, value, label, checked } = options;
  .radio-button
    input.radio-button__input.visually-hidden(type = "radio", checked = checked, value = value, name = name, id = id)
    label.radio-button__label(for = id)= label