//- 
  options.name - name
  options.id - id
  options.value - value
  options.label - label text
  options.checked - true/false

mixin radio-button(options)
  .radio-button(class = attributes.class)
    input.radio-button__input.visually-hidden(type = "radio", checked = options.checked, value = options.value, name = options.name, id = options.id)
    label.radio-button__label(for = options.id)= options.label