mixin radio-button({ name = "", id = "", value = "", label = "", isChecked = false } = {})
  .radio-button
    input.radio-button__input(type = "radio", checked = isChecked, value = value, name = name, id = id)
    label.radio-button__label(for = id)= label