extends ../../layouts/page/page
include ../../blocks/sign-in/sign-in

block variables
  - const title = "Sign in";
block content
  - const { signInOptions } = require('./user-sign-in.json');
  .user-sign-in
    .user-sign-in__sign-in
      +sign-in(signInOptions)