.user-sign-in {
  background-image: url('../../img/authentication-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 172px 0;
}

.user-sign-in__sign-in {
  margin: 0 auto;
}