extends ../../layouts/page/page
include ../../blocks/sign-in/sign-in

block variables
  - 
    const data = require('./user-sign-in.json');
    const { title, headerOptions, footerOptions } = data;
block content
  - const { signInOptions } = data;
  main.user-sign-in
    .user-sign-in__sign-in
      +sign-in(signInOptions)