include ../button/button
//- 
  options.type - 'guests', 'goods';
  options.applyButton - true, false
  options.resetButton - true, false

mixin goods(options)
  -
    const { type, applyButton, resetButton } = options;
    const goodsList = ['Спальни', 'Кровати', 'Ванные комнаты'];
    const guestsList = ['Взрослые', 'Дети', 'Младенцы'];
    const classMod = `goods--${type}`;
    let currentList;
    if (type === 'guests') currentList = [...guestsList];
    else if (type === 'goods') currentList = [...goodsList];
  .goods(class = attributes.class, class = classMod)
    ul.goods__list
      each item in currentList
        li.goods__good
          span.goods__good-name= item
          button(type = 'button').goods__good-button.goods__good-button--minus -
          span.goods__good-count 0
          button(type = 'button').goods__good-button.goods__good-button--plus +
    if applyButton || resetButton
      .goods__controls
        if applyButton && resetButton
          +button(
            {
              text: 'Отчистить',
              type : 'reset',
            }
          ).goods__controls-button.goods__controls-button--reset
          +button(
            {
              text: 'Применить',
              type: 'apply',
            }
          ).goods__controls-button.goods__controls-button--apply
        else if resetButton
          +button(
            {
              text: 'Отчистить',
              type : 'reset',
            }
          ).goods__controls-button.goods__controls-button--reset
        else if applyButton
          +button(
            {
              text: 'Применить',
              type : 'apply',
            }
          ).goods__controls-button.goods__controls-button--apply
          

   
