include ../button/button

mixin goods({ type = "guests", hasApplyButton = false, hasResetButton = false, applyButtonText = "Применить", resetButtonText = "Очистить" } = {})
  -
    let classMod = "";
    if (type === "guests") {
      classMod = `goods_${type}`;
    } else if (type === "goods") {
      classMod = `goods_${type}`;
    }
  .goods(class = classMod)
    ul.goods__list
  if hasApplyButton || hasResetButton
    .goods__controls
      if hasApplyButton && hasResetButton
        .goods__controls-button.goods__controls-button_reset
          +button(
            {
              text: resetButtonText,
              type : "reset",
            }
          )
        .goods__controls-button.goods__controls-button_apply
          +button(
            {
              text: applyButtonText,
              type: "apply",
            }
          )
      else if hasResetButton
        .goods__controls-button.goods__controls-button_reset
          +button(
            {
              text: resetButtonText,
              type : "reset",
            }
          )
      else if hasApplyButton
        .goods__controls-button.goods__controls-button_apply
          +button(
            {
              text: applyButtonText,
              type : "apply",
            }
          )
