include ../button/button
//- 
  options.type - 'guests', 'goods';
  options.applyButton - true, false
  options.resetButton - true, false

mixin goods(options)
  -
    const goodsList = ['Спальни', 'Кровати', 'Ванные комнаты'];
    const guestsList = ['Взрослые', 'Дети', 'Младенцы'];
    const classMod = `goods--${options.type}`;
    let currentList;
    if (options.type === 'guests') currentList = [...guestsList];
    else if (options.type === 'goods') currentList = [...goodsList];
  .goods(class = attributes.class, class = classMod)
    ul.goods__list
      each item in currentList
        li.goods__good
          span.goods__good-name= item
          button.goods__good-button.goods__good-button--minus -
          span.goods__good-count 0
          button.goods__good-button.goods__good-button--plus +
    if options.applyButton || options.resetButton
      .goods__controls
        if options.applyButton && options.resetButton
          +button(
            {
              text: 'Отчистить',
              type : 'reset',
            }
          ).goods__controls-button.goods__controls-button--reset
          +button(
            {
              text: 'Применить',
              type: 'apply',
            }
          ).goods__controls-button.goods__controls-button--apply
        else if options.resetButton
          +button(
            {
              text: 'Отчистить',
              type : 'reset',
            }
          ).goods__controls-button.goods__controls-button--reset
        else if options.applyButton
          +button(
            {
              text: 'Применить',
              type : 'apply',
            }
          ).goods__controls-button.goods__controls-button--apply
          

   
