extends ../../layouts/page/page
include ../../blocks/number-search/number-search

block variables
  - 
    const data = require('./index.json');
    const { headerOptions, footerOptions, title } = data;
block content
  .index
    .index__content.content-wrapper
      .index__number-search
        - const { numberSearchOptions } = data;
        +number-search(numberSearchOptions)
      - const { text } = data.slogan;
      p.index__slogan= text

