.index {
  background-image: url('../../img/index-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  &__number-search {
    max-width: 380px;
    margin-left: 0;
    margin-bottom: 318px;
  }

  &__slogan {
    margin: 0;
    max-width: 297px;
    text-align: right;
    margin-left: auto;
  }
}