.footer {
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

  &__content {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    @media screen and (max-width: 869px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__about {
    max-width: 260px;
    margin-bottom: 20px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__navigation-lists {
    @include reset-list;
    display: flex;
    max-width: 550px;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  &__navigation {
    margin-bottom: 20px;
  }

  &__navigation-title {
    @include h3Like;
    padding-top: 4px;
    margin-bottom: 20px;
  }

  &__navigation-list {
    width: 150px;
    @include reset-list;
  }

  &__navigation-item {
    margin-bottom: 20px;
    line-height: 17px;
  }

  &__navigation-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: rgba($primaryColor, 0.5);
  }

  &__subscription {
    width: 260px;
    @media screen and (max-width: 1149px) {
      margin: 0 auto;
    }
  }

  &__subscription-title {
    padding-top: 4px;
    @include h3Like;
    margin-bottom: 20px;
  }

  &__subscription-text {
    margin: 0;
    margin-bottom: 20px;
  }

  &__copyright {
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid rgba($primaryColor, 0.05);
  }

  &__copyright-content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright-text {
    margin: 0;
  }

  &__social-list {
    @include reset-list;
    padding-top: 23px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @media (max-width: 768px) {
    &__content {
      padding-bottom: 0;
    }

    &__logo {
      margin-bottom: 0;
    }

    &__about-text {
      display: none;
    }

    &__navigation-lists {
      display: none;
    }

    &__subscription {
      display: none;
    }

    &__copyright {
      border-top: none;
    }

    &__copyright-content {
      flex-direction: column;
      justify-content: center;
    }

    &__copyright-text {
      margin-bottom: 25px;
      text-align: center;
    }

    &__social-list {
      padding-top: 0;
      padding-bottom: 117px;
    }
  }
}