.footer {
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

  &__content {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 805px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__about {
    max-width: 260px;
    margin-bottom: 20px;
    @media screen and (max-width: 805px) {
      text-align: center;
    }
  }

  &__logo {
    margin-bottom: 20px;
    @media screen and (max-width: 805px) {
      & > svg {
        margin: 0 auto;
      }
    }
  }

  &__navigation-lists {
    @include reset-list;
    display: flex;
    width: 550px;
    justify-content: space-between;
    @media screen and (max-width: 550px) {
      width: auto;
      flex-direction: column;
      align-items: center;
    }
  }

  &__navigation {
    margin-bottom: 20px;
  }

  &__navigation-title {
    @include h3Like;
    padding-top: 4px;
    margin-bottom: 20px;
  }

  &__navigation-list {
    min-width: 143px;
    @include reset-list;
  }

  &__navigation-item {
    margin-bottom: 20px;
    line-height: 17px;
  }

  &__navigation-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: rgba($mainColor, 0.5);
  }

  &__subscription {
    width: 260px;
  }

  &__subscription-title {
    padding-top: 4px;
    @include h3Like;
    margin-bottom: 20px;
  }

  &__subscription-text {
    margin: 0;
    margin-bottom: 20px;
  }

  &__copyright {
    border-top: 1px solid rgba($mainColor, 0.05);
  }

  &__copyright-content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-list {
    @include reset-list;
    padding-top: 23px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
  }

  &__social-item {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__content {
    &_mini {
      padding-top: 100px;
      padding-bottom: 110px;
      align-items: center;
      flex-direction: column;
    }
  }

  &__content_mini > &__about { 
    text-align: center;
    max-width: 560px;
    margin-bottom: 25px;
  }

  &__content_mini > &__logo {
    text-align: center;
    margin: 0 auto;
  }

  &__content_mini > &__social-list {
    padding: 0;
  }

}