include ../input/input

mixin input-box({ title = "", placeholder = "", status = "", value = "", isAutofocused = false, maskType = "" } = {})
  .input-box
    if title
      h3.input-box__title= title
    if status
      span.input-box__status= status
    .input-box__input
      +input({ placeholder, maskType, isAutofocused, value })