include ../input/input

mixin input-box(options)
  - 
    const {
      title,
      placeholder,
      status,
      value,
      type,
      autofocus,
      masked
    } = options;
  .input-box(class = attributes.class)
    if title
      h3.input-box__title= title
    if options.status
      span.input-box__status= status
    .input-box__input
      +input({ placeholder, masked, autofocus, value, type })