include ../input/input
include ../expand-button/expand-button

mixin input-box(options)
  - 
    const {
      title,
      placeholder,
      status,
      value,
      autofocus,
      masked,
      expandButton
    } = options;
  .input-box(class = attributes.class)
    if title
      h3.input-box__title= title
    if options.status
      span.input-box__status= status
    .input-box__input
      +input({ placeholder, masked, autofocus, value })
    if expandButton
      .input-box__expand-button
        +expand-button()