include ../button/button

mixin buttons-card({ buttonText = "click me", submitButtonText = "перейти к оплате" } = {})
  .buttons-card
    h3.buttons-card__title Buttons
    - 
      const buttonsProps = [
        {
          type: "filled",
          text: buttonText,
        },
        {
          type: "filled",
          text: buttonText,
          isHovered: true,
        },
        {
          type: "stroked",
          text: buttonText,
        },
        {
          type: "stroked",
          text: buttonText,
          isHovered: true,
        }
      ];
      const controlButtonsProps = [
          {
            type: "apply",
            text: buttonText,
          },
          {
            type: "reset",
            text: buttonText,
          }
      ];
    ul.buttons-card__list.buttons-card__list_main
      each obj in buttonsProps
        li.buttons-card__item
          .buttons-card__button
            +button(obj)
    ul.buttons-card__list.buttons-card__list_controls
      each obj in controlButtonsProps
        li.buttons-card__item
          .buttons-card__button
            +button(obj)
    .buttons-card__button
      +button(
        {
          type: "submit",
          text: submitButtonText,
        }
      )