include ../button/button

mixin buttons-card
  article.buttons-card
    h3.buttons-card__title Buttons
    - 
      const text = "click me"
      const buttonsProps = [
        {
          type: "filled",
          text: text,
        },
        {
          type: "filled",
          text: text,
          hover: true,
        },
        {
          type: "stroked",
          text: text,
        },
        {
          type: "stroked",
          text: text,
          hover: true,
        }
      ];
      const controlButtonsProps = [
          {
            type: "apply",
            text: text,
          },
          {
            type: "reset",
            text: text,
          }
      ];
    ul.buttons-card__list.buttons-card__list_main
      each obj in buttonsProps
        li.buttons-card__item
          .buttons-card__button
            +button(obj)
    ul.buttons-card__list.buttons-card__list_controls
      each obj in controlButtonsProps
        li.buttons-card__item
          .buttons-card__button
            +button(obj)
    .buttons-card__button
      +button(
        {
          type: "submit",
          text: "перейти к оплате",
        }
      )