.dropdown {
  max-width: 320px;
}

.dropdown__popup {
  border: 1px solid rgba($mainColor, 0.5);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-top: 6px;
}

.dropdown {
  &--dates {
    .dropdown__input-box {
      width: 150px;
    }
    .dropdown__content {
      display: flex;
      justify-content: space-between;
    }
  }
}