include ../input-box/input-box
include ../goods/goods
include ../calendar/calendar
//-
  options.title - title
  options.secondTitle - title for 2nd input-box
  options.placeholder - placeholder
  options.status - text in top right сorner
  options.value - input value
  options.autofocus - boolean
  options.masked - true/false
  options.type - guests/goods/dates/date-filter
  options.applyButton - true/false
  options.resetButton - true/false 
  options.opened

mixin dropdown(options)
  - 
    const { 
      title,
      secondTitle,
      placeholder,
      status,
      value,
      autofocus,
      masked,
      applyButton,
      resetButton,
      opened,
      type,
    } = options;
    const jsClassMod = opened === true ? 'js-dropdown--open' : 'js-dropdown--close';
    let propsList;
    let classMod;
    switch(type) {
      case 'guests':
        propsList = ['Взрослые','Дети','Младенцы'];
        classMod = 'dropdown--guests';
        break;
      case 'goods':
        propsList = ['Спальни', 'Кровати', 'Ванные комнаты'];
        classMod = 'dropdown--goods';
        break;
      case 'dates': 
        classMod = 'dropdown--dates';
        break;
      case 'date-filter':
        classMod = 'dropdown--date-filter'
        break;
      default:
        break;
    }

  .dropdown.js-dropdown(class = attributes.class, class= `${classMod} ${jsClassMod}`)
    if type !== 'dates' && type !== 'date-filter'
      .dropdown__content
        +input-box(
          {
            title: title,
            placeholder: placeholder,
            expandButton: true,
            status: status,
          }
        ).dropdown__input-box
    else if type === 'dates'
      .dropdown__content
        +input-box(
          {
            title: title,
            placeholder: placeholder,
            expandButton: true,
            status: status,
          }
        ).dropdown__input-box.dropdown__input-box--date-from
        +input-box(
          {
            title: secondTitle,
            placeholder: placeholder,
            expandButton: true,
            status: status,
          }
        ).dropdown__input-box.dropdown__input-box--date-to
    else if type === 'date-filter'
      .dropdown__content
        +input-box(
          {
            title: title,
            placeholder: placeholder,
            expandButton: true,
            status: status,
          }
        ).dropdown__input-box.dropdown__input-box--date
    if type === 'guests' || type === 'goods'
      .dropdown__popup.js-dropdown__popup
        +goods({ type: type, applyButton: applyButton, resetButton: resetButton}).dropdown__goods
    else if type === 'dates' || type === 'date-filter'
      .dropdown__popup.js-dropdown__popup
        +calendar().dropdown__calendar