mixin dates-input({ title = "", placeholder = "", value = "", status = "", isOpened = false } = {})
  .dates-input
    h3.dates-input__title= title
    if (status !== "")
      span.dates-input__status= status
    .dates-input__expand-button
      +expand-button({ isOpened })
    input.dates-input__input(type="text", placeholder = placeholder, value = value, readonly = true)
  