extends ../../layouts/ui-kit/ui-kit
include ../../blocks/header/header
include ../../blocks/footer/footer

block title
  title Headers &amp Footers
block content
  section.headers-and-footers
    .headers-and-footers__header
      +header(
        {
          lang: "en",
          currentPage: 1
        }
      )
    .headers-and-footers__header
      +header(
        {
          lang: "en",
          currentPage: 1,
          userName: "Cosmin Negoita"
        }
      )
    .headers-and-footers__footer
      +footer(
        {
          lang: "en",
          type: "maxi"
        }
      )
    .headers-and-footers__footer
      +footer(
        {
          lang: "en",
          type: "mini"
        }
      )