extends ../../layouts/ui-kit/ui-kit
include ../../blocks/header/header
include ../../blocks/footer/footer

block title
  title Headers &amp Footers
block content
  - const { defaultHeaderOptions, registeredUserHeaderOptions, defaultFooterOptions, miniFooterOptions } = require('./headers-and-footers.json');
  main.headers-and-footers
    .headers-and-footers__header
      +header(defaultHeaderOptions)
    .headers-and-footers__header
      +header(registeredUserHeaderOptions)
    .headers-and-footers__footer
      +footer(defaultFooterOptions)
    .headers-and-footers__footer.headers-and-footers__footer_mini
      +footer(miniFooterOptions)