include ../toggle-button/toggle-button

mixin toggle-buttons-card({ title = "", toggleButtonsOptions = [] } = {})
  .toggle-buttons-card
    h3.toggle-buttons-card__title= title
    ul.toggle-buttons-card__list
      each toggleButtonOptions in toggleButtonsOptions
        li.toggle-buttons-card__item
          .toggle-buttons-card__toggle-button
            +toggle-button(toggleButtonOptions)