.toggle-buttons-card {
  width: 260px;
}

.toggle-buttons-card__title {
  @include h3Like;
  margin-bottom: 16px;
}

.toggle-buttons-card__list {
  @include reset-list;
}

.toggle-buttons-card__item {
  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}