.ui-kit {
  position: relative;
  
  &__logo {
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url('../../img/ui-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
  }
}