.items-counter {
  &__list {
    @include reset-list;
  }
  
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__item-name {
    @include h3Like;
    margin-right: auto;
  }

  &__item-button {
    @include button-reset;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid rgba($primaryColor, 0.5);
    color: rgba($primaryColor, 0.5);
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    line-height: 22px;
    &:disabled {
      border: 1px solid rgba($primaryColor, 0.25);
      color: rgba($primaryColor, 0.25);
    }
  }

  &__item-count {
    @include h3Like;
    text-align: center;
    width: 32px;
  }

  &__controls {
    display: flex;
    margin-top: 19px;
  }

  &__controls-button {
    &_apply {
      margin-left: auto;
    }
    &_reset {
      margin-right: auto;
    }
  }
}