include ../input-box/input-box
include ../arrow/arrow

mixin subscription-form(options)
  - const { placeholder, title } = options;
  form.subscription-form
    .subscription-form__input-box
      +input-box({
        placeholder: placeholder,
        title: title,
      })
    button(type="submit").subscription-form__submit-button
      .subscription-form__submit-button-img
        +arrow({ type: "subscription" })