include ../input-box/input-box
include ../arrow/arrow

mixin subscription-form(options)
  - const { placeholder, title } = options;
  form.subscription-form
    if title
      h3.subscription-form__title= title
    button(type="submit").subscription-form__submit-button
      .subscription-form__submit-button-img
        +arrow({})
    input.subscription-form__input(type="email", placeholder = placeholder)