include ../input-box/input-box
//- 
  options.placeholder - placeholder
  options.title - title

mixin subscription-form(options) 
  form.subscription-form(class = attributes.class)
    +input-box({
      placeholder: options.placeholder,
      title: options.title,
    }).subscription-form__input-box
    button(type="submit").subscription-form__submit-button