.subscription-form {
  position: relative;

  &__submit-button {
    @include button-reset;
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}