mixin type({ text = "", marker = "body"})
  - 
    const isCorrectMarker = ["h1", "h2", "h3", "body"].includes(marker);
    const modifierClass = isCorrectMarker ? `types__type_${marker}` : "types__type_body";
  li.types__type(class = modifierClass)
    span.types__type-marker= marker
    span.types__type-text= text