.types {
  @include reset-list;
}

.types__type {
  display: flex;
  margin: 25px 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--h1 {
    font-size: 24px;
    line-height: 30px;
    .types__type-text{
    @include h1Like;
  }
  }

  &--h2 {
    font-size: 19px;
    line-height: 24px;
    .types__type-text{
      @include h2Like;
    }
  }

  &--h3 {
    font-size: 12px;
    line-height: 15px;
    .types__type-text{
      @include h3Like;
    }
  }
}

.types__type-marker {
  width: 40px;
  text-align: right;
  margin-right: 30px;
  text-transform: capitalize;
  color: rgba($mainColor, 0.25);
}

.types__type-text {
  max-width: 336px;
}