mixin range-slider({ title = "", subtitle = "", currentValue = { from: 5000, to: 10000 }, valuesRange = { min: 0, max: 15000 }} = {})
  - 
    const rangeSliderAttributes = {
      "data-current-value": currentValue,
      "data-values-range": valuesRange,
    }
  section.range-slider&attributes(rangeSliderAttributes)
    .range-slider__header
      h3.range-slider__title= title
      span.range-slider__price
    .range-slider__line
      .range-slider__range-line
      .range-slider__thumb.range-slider__thumb_from
      .range-slider__thumb.range-slider__thumb_to
    if subtitle !== ""
      span.range-slider__subtitle= subtitle