mixin range-slider({ title = "", subtitle = "" })
  article.range-slider
    .range-slider__header
      h3.range-slider__title= title
      span.range-slider__price 5 000₽ - 10 000₽
    .range-slider__line
      .range-slider__range-line
      .range-slider__thumb.range-slider__thumb_from
      .range-slider__thumb.range-slider__thumb_to
    if subtitle !== ""
      span.range-slider__subtitle= subtitle