include ../like-button/like-button
mixin comment({ url = "", text = "", name = "", date = "", likeButtonProps = {} })
  .comment
    .comment__content
      img.comment__img(src = url, alt = name)
      p.comment__about
        cite.comment__author= name
        span.comment__date= date
    .comment__content
      .comment__like-button
        +like-button(likeButtonProps)
      blockquote.comment__comment= text
