include ../bullet-list/bullet-list

mixin impressions()
  section.impressions
    h2.impressions__title Впечатления от номера
    .impressions__content
      .impressions__count
        span.impressions__count-number 260
        span.impressions__count-text голосов
      ul.impressions__list
        li.impressions__item.impressions__item_super Великолепно
        li.impressions__item.impressions__item_good Хорошо
        li.impressions__item.impressions__item_soso Удовлетворительно
        li.impressions__item.impressions__item_bad Разочарован