.impressions {
  &__title {
    @include h2Like;
    margin-bottom: 18px;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__doughnut {
    padding-left: 20px;
    width: 125px;
    height: 125px;
  }

  &__list {
    @include reset-list;
    width: 161px;
  }

  &__item {
    position: relative;
    padding-left: 15px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    &_super {
      &:before {
        background-image: $yellowGradient;
      }
    }
  
    &_good {
      &:before {
        background-image: $greenGradient;
      }
    }
  
    &_soso {
      &:before {
        background-image: $purpleGradient;      
      }
    }
  
    &_bad {
      &:before {
        background-image: $blackGradient;
      }
    }
  }
}