mixin advantages(options)
  - const { list, title } = options;
  article.advantages
    if title
      h2.advantages__title= title
    ul.advantages__list
      each item in list
        li.advantages__item
          img(src= item.url, alt= item.alt).advantages__item-img
          .advantages__item-about
            h4.advantages__item-title= item.title
            p.advantages__item-text= item.text