.advantages {
  box-sizing: border-box;
  width: 291px;
}

.advantages__title {
  @include h2Like;
  margin-bottom: 20px;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba($mainColor, 0.1);
  padding-bottom: 16px;
  &:not(:first-of-type) {
    padding-top: 23px;
  }
}

.advantages__item-img {
  width: 38px;
  height: 38px;
}

.advantages__item-about {
  margin-left: 10px;
}
.advantages__item-title {
  @include h4Like;
}

.advantages__item-text {
  margin: 0;
}