include ../checkbox/checkbox
include ../expand-button/expand-button

mixin checkboxes({ title = "", list = [], isExpandable = false, isOpened = false, isCheckboxesRich = false } = {})
  - 
    const richCheckboxesClassModifier = isCheckboxesRich ? "checkboxes_rich": "";
    const openedClass = isExpandable 
    ? (isOpened ? "checkboxes_opened" : "checkboxes_closed") : "";    
  article.checkboxes(class = [openedClass, richCheckboxesClassModifier])
    if title
      h3.checkboxes__title= title
    if isExpandable
      .checkboxes__expand-button
        +expand-button({ isOpened })
    if list.length !== 0
      ul.checkboxes__list
        each obj in list
          li.checkboxes__list-item
            +checkbox(obj)