include ../checkbox/checkbox
include ../expand-button/expand-button
//-
  options.title - title
  options.list - array of 
  { 
    label: 'myAwesomeLabel',
    name: 'myAwesomeName',
    id: 'myAwesomeId'
    checked: true/false
    options.about - text
  }
  options.expandable - true/false
  options.opened - true/false

mixin checkboxes(options)
  - 
    let dropdownModifierClass = '';
    if (options.expandable === true) dropdownModifierClass = options.opened === true ? 'js-dropdown--open' : 'js-dropdown--close';
    const dropdownClass = options.expandable === true ? 'js-dropdown' : '';
    const popupClass = options.expandable === true ? 'js-dropdown__popup' : '';
  article.checkboxes(class = attributes.class, class= `${dropdownClass} ${dropdownModifierClass}`)
    if options.title
      h3.checkboxes__title= options.title
    if options.expandable
      +expand-button().checkboxes__expand-button.js-dropdown__button
    if options.list
      ul(class = popupClass).checkboxes__list
        each obj in options.list
          li.checkboxes__list-item
            +checkbox(obj)