include ../checkbox/checkbox
include ../expand-button/expand-button

mixin checkboxes(options)
  - 
    const { title, list, expandable, opened } = options;
    let dropdownModifierClass = "";
    if (expandable === true) dropdownModifierClass = opened === true ? "js-dropdown_open" : "js-dropdown_close";
    const dropdownClass = expandable === true ? "js-dropdown" : "";
    const popupClass = expandable === true ? "js-dropdown__popup" : "";

  article.checkboxes(class= `${dropdownClass} ${dropdownModifierClass}`)
    if title
      h3.checkboxes__title= title
    if expandable
      .checkboxes__expand-button
        +expand-button()
    if list
      ul(class = popupClass).checkboxes__list
        each obj in list
          li.checkboxes__list-item
            +checkbox(obj)