include ../checkbox/checkbox
include ../expand-button/expand-button

mixin checkboxes(options)
  - 
    const { title, list, expandable, opened } = options;
    const openedClass = expandable 
    ? (opened ? "checkboxes_opened" : "checkboxes_closed") : "";
      
  article.checkboxes(class = openedClass)
    if title
      h3.checkboxes__title= title
    if expandable
      .checkboxes__expand-button
        +expand-button({ opened })
    if list
      ul.checkboxes__list
        each obj in list
          li.checkboxes__list-item
            +checkbox(obj)