.checkboxes{
  position: relative;
  width: 266px;

  &__title {
    @include h3Like;
    margin-bottom: 17px;
  }

  &__expand-button {
    top: -15px;
    right: 0;
  }

  &__list {
    @include reset-list;
  }

  &__list-item {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}