.checkboxes{
  position: relative;

  &__title {
    @include h3Like;
    margin-bottom: 17px;
  }

  &__expand-button {
    transform-origin: center;
    position: absolute;
    width: 44px;
    height: 44px;
    top: -15px;
    right: 0;
  }

  &__list {
    max-width: 266px;
    @include reset-list;
  }

  &__list-item {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_rich &__list-item {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_opened &__list {
    display: block;
  }

  &_opened &__expand-button {
    transform: rotate(-180deg);
  }
  
  &_closed &__list {
    display: none;
  }
}