include ../checkbox/checkbox
include ../expand-button/expand-button
//-
  options.title - title
  options.list - array of 
  { 
    label: 'myAwesomeLabel',
    name: 'myAwesomeName',
    id: 'myAwesomeId'
    checked: true/false
    options.about - text
  }
  options.expandable - true/false
  options.opened - true/false

mixin checkboxes(options)
  - 
    const { title, list, expandable, opened } = options;
    let dropdownModifierClass = '';
    if (expandable === true) dropdownModifierClass = opened === true ? 'js-dropdown--open' : 'js-dropdown--close';
    const dropdownClass = expandable === true ? 'js-dropdown' : '';
    const popupClass = expandable === true ? 'js-dropdown__popup' : '';

  article.checkboxes(class = attributes.class, class= `${dropdownClass} ${dropdownModifierClass}`)
    if title
      h3.checkboxes__title= title
    if expandable
      +expand-button().checkboxes__expand-button.js-dropdown__button
    if list
      ul(class = popupClass).checkboxes__list
        each obj in list
          li.checkboxes__list-item
            +checkbox(obj)