mixin toggle-button({ name = "", id = "", label = "", isChecked = false } = {})
  .toggle-button
    input.toggle-button__input(type = "checkbox", name = name, id = id, checked = isChecked)
    label.toggle-button__label(for = id)= label
