include ../star-rating/star-rating

mixin room({ number = 0, rating = 0, price = 0, reviewsCount = 0, url = "", isLuxe = false } = {})
  - const luxeClassMod = isLuxe ? "room_luxe" : "";
  article.room(class = luxeClassMod)
    .room__preview
      img(src = url).room__preview-img
      button.room__preview-button.room__preview-button_next
      button.room__preview-button.room__preview-button_prev
      ul.room__preview-list
        li.room__preview-item.room__preview-item_current
        li.room__preview-item
        li.room__preview-item
        li.room__preview-item
    .room__content
      .room__about
        span.room__number-details
          span.room__number-prefix №
          span.room__number= number
        span.room__price
          span.room__price-current= `${price}₽`
          span.room__price-text В сутки
      .room__rating
        .room__star-rating
          +star-rating({ stars: rating})
        span.room__reviews
          span.room__reviews-count= reviewsCount
          span.room__reviews-text Отзывов
