include ../radio-button/radio-button

mixin radio-buttons-card({ title = "", radioButtonsOptions = [] } = {})
  article.radio-buttons-card
    h3.radio-buttons-card__title= title
    ul.radio-buttons-card__list
      each rabioButtonOptions in radioButtonsOptions
        li.radio-buttons-card__item
          .radio-buttons-card__radio-button
            +radio-button(rabioButtonOptions)