.radio-buttons-card {
  width: 220px;

  &__title {
    @include h3Like;
    margin-bottom: 15px;
  }

  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}