.doughnut {

  &__title {
    @include h2Like;
    margin-bottom: 18px;
  }

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__diagram-wrapper {
    width: 125px;
    height: 125px;
    position: relative;
    margin-right: 25px;
  }

  &__svg {
    display: inline-block;
    transform: rotate(96deg) scale(-1 1);
  }

  &__about {
    transition: all 0.5s ease;
    position: absolute;
    text-align: center;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__about-count {
    display: block;
    font-family: $likeHeadingFont;
    font-size: 24px;
    line-height: 30px;
  }

  &__about-text {
    display: block;
    text-transform: uppercase;
    font-family: $decorativeFont;
    font-size: 12px;
    line-height: 15px;
  }

  &__circle {
    transition: all 0.5s ease;
    stroke-width: 4px;
    &_hovered {
      stroke-width: 10px;
    }
  }

  &__legend-list {
    @include reset-list;
    width: 161px;
  }

  &__legend-item {
    display: flex;
    align-items: center;
  }

  &__legend-feature {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }

  @media screen and (max-width: 768px) {
    &__title {
      text-align: center;
    }
  }
}