mixin doughnut({ title = "", doughnutProps = [] } = {})
  - const doughnutAttributes = { "data-doughnut-props": doughnutProps }; 
  section.doughnut&attributes(doughnutAttributes)
    h2.doughnut__title= title