.registration {
  @include cardShadow;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: #fff;
  padding: 40px 0 30px 0;
  border-radius: 4px;

  &__content {
    width: 320px;
    margin: 0 auto;
  }

  &__title {
    @include h1Like;
    margin-bottom: 20px;
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 20px;
  }

  &__fieldset-legend {
    @include h3Like;
    margin-bottom: 5px;
  }

  &__fieldset &__input {
    margin-bottom: 10px;
    &:nth-of-type(2n) {
      margin-bottom: 0px;
    }
  }

  &__rario-button-list {
    @include reset-list;
    width: 220px;
    justify-content: space-between;
    display: flex;  
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 22px;
  }

  &__toggle-button {
    margin-top: 8px;
    margin-bottom: 2px;
  }

  &__submit-button {
    margin-bottom: 30px;
  }

  &__sign-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sign-in-text {
    line-height: 18px;
    color: #000;
  }
}