include ../input/input
include ../input-box/input-box
include ../radio-button/radio-button
include ../button/button
include ../toggle-button/toggle-button


mixin registration()
  article.registration
    .registration__content
      h1.registration__title Регистрация аккаунта
      form.registration__form(action="mock")
        fieldset(name = "user-data").registration__fieldset
          legend.registration__fieldset-legend.visually-hidden Данные пользователя 
          .registration__input
            +input({ placeholder: "Имя" })
          .registration__input
            +input({ placeholder: "Фамилия" })
          ul.registration__rario-button-list
            li.registration__rario-button-item
              .registration__rario-button
                +radio-button({
                  name: "gender",
                  value: "male",
                  id: "male",
                  label: "Мужчина",
                  isChecked: true
                })
            li.registration__rario-button-item
              .registration__rario-button
                +radio-button({
                  name: "gender",
                  value: "female",
                  id: "female",
                  label: "Женщина",
                  isChecked: false,
                })
          .registration__input-box
            +input-box({
              title: "Дата рождения",
              placeholder: "ДД.ММ.ГГГГ",
              isMasked: true,
            })
        fieldset(name = "login-data").registration__fieldset
          legend.registration__fieldset-legend Данные для входа в сервис
          .registration__input
            +input({ placeholder: "Email", type: "email" })
          .registration__input
            +input({ placeholder: "Пароль", type: "password" })
          .registration__toggle-button
            +toggle-button({
              name: "special",
              id: "special",
              label: "Получать спецпредложения",
              isChecked: false,
            })
        .registration__submit-button
          +button({ type: "submit", text: "перейти к оплате"})
        .registration__sign-in
          span.registration__sign-in-text Уже есть аккаунт на Toxin
          .registration__sign-in-button
            +button({ type: "stroked", text: "Войти"})