include ../input/input
include ../input-box/input-box
include ../radio-button/radio-button
include ../button/button
include ../toggle-button/toggle-button


mixin registration({ title = "", userDataFieldsetOptions = { userLegend: "", userNameInputsOptions: [], userGenderRadiosOptions: [], userBirthDateInputBoxOptions: {} }, loginDataFieldsetOptions = { loginLegend: "", loginInputsOptions: [], addsToggleButtonOptions: {} }, submitButtonProps = {}, signInText = "", signInButtonProps = {} } = {})
  section.registration
    .registration__content
      h1.registration__title= title
      form.registration__form(action="mock")
        fieldset(name = "user-data").registration__fieldset
          - const { userLegend, userNameInputsOptions, userGenderRadiosOptions, userBirthDateInputBoxOptions } = userDataFieldsetOptions;
          legend.registration__fieldset-legend.visually-hidden= userLegend
          each userNameInputOptions in userNameInputsOptions
            .registration__input
              +input(userNameInputOptions)
          ul.registration__rario-button-list
              each userGenderRadioOptions in userGenderRadiosOptions
                li.registration__rario-button-item
                  +radio-button(userGenderRadioOptions)
          .registration__input-box
            +input-box(userBirthDateInputBoxOptions)
        fieldset(name = "login-data").registration__fieldset
          - const { loginLegend, loginInputsOptions, addsToggleButtonOptions } = loginDataFieldsetOptions;
          legend.registration__fieldset-legend= loginLegend
          each loginInputOptions in loginInputsOptions
            .registration__input
              +input(loginInputOptions)
          .registration__toggle-button
            +toggle-button(addsToggleButtonOptions)
        .registration__submit-button
          +button(submitButtonProps)
        .registration__sign-in
          span.registration__sign-in-text= signInText
          .registration__sign-in-button
            +button(signInButtonProps)