include ../goods-input/goods-input
include ../goods/goods

mixin dropdown-goods({ isOpened = false, type = "goods", goodsCount = [0, 0, 0], hasApplyButton = false, hasResetButton = false, inputOptions = {} } = {})
  - 
    const openedClass = isOpened ? "dropdown-goods_opened" : "dropdown-goods_closed";
    const isHightlighted = isOpened;
    const dropdownGoodsAttributes = { "data-goods-count": goodsCount };
  .dropdown-goods(class = openedClass)&attributes(dropdownGoodsAttributes)
    .dropdown-goods__goods-input
      +goods-input({ ...inputOptions, isHightlighted, isOpened })
    .dropdown-goods__goods
      +goods({ type, hasApplyButton, hasResetButton })
