.dropdown-goods {
  margin: 0 auto;
  position: relative;

  &__goods {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 63px;
    border: 1px solid rgba($primaryColor, 0.5);
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 15px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 6px;
  }

  &_opened > &__goods {
    display: block;
  }

  &_closed > &__goods {
    display: none;
  }
}