include ../goods-input/goods-input
include ../goods/goods

mixin dropdown-goods({ isOpened = false, type = "goods", hasApplyButton = false, hasResetButton = false, inputOptions = {} } = {})
  - 
    const openedClass = isOpened ? "dropdown-goods_opened" : "dropdown-goods_closed";
    const isHightlighted = isOpened;
  .dropdown-goods(class = openedClass)
    .dropdown-goods__goods-input
      +goods-input({ ...inputOptions, isHightlighted, isOpened })
    .dropdown-goods__goods
      +goods({ type, hasApplyButton, hasResetButton })
