//utils import
@import './utils/fonts.scss';
@import './utils/variables.scss';
@import './utils/mixins.scss';
//modules import
@import './modules/content-wrapper.scss';
@import './modules/visually-hidden.scss';
@import './modules/ui-kit.scss';
//blocks import
@import '../blocks/js-dropdown/js-dropdown.scss';
@import '../blocks/colors/colors.scss';
@import '../blocks/types/types.scss';
@import '../blocks/input/input.scss';
@import '../blocks/input-box/input-box.scss';
@import '../blocks/dropdown/dropdown.scss';
@import '../blocks/subscription-form/subscription-form.scss';
@import '../blocks/checkbox/checkbox.scss';
@import '../blocks/checkboxes/checkboxes.scss';
@import '../blocks/advantages/advantages.scss';
@import '../blocks/radio-button/radio-button.scss';
@import '../blocks/toggle-button/toggle-button.scss';
@import '../blocks/like-button/like-button.scss';
@import '../blocks/star-rating/star-rating.scss';
@import '../blocks/comment/comment.scss';
@import '../blocks/range-slider/range-slider.scss';
@import '../blocks/button/button.scss';
@import '../blocks/pagination/pagination.scss';
@import '../blocks/bullet-list/bullet-list.scss';
@import '../blocks/number-search/number-search.scss';
@import '../blocks/registration/registration.scss';
@import '../blocks/sign-in/sign-in.scss';
@import '../blocks/room/room.scss';
@import '../blocks/calendar/calendar.scss';
@import '../blocks/about-room/about-room.scss';
@import '../blocks/goods/goods.scss';
@import '../blocks/expand-button/expand-button.scss';
@import '../blocks/buttons-card/buttons-card.scss';
@import '../blocks/rate-buttons-card/rate-buttons-card.scss';
@import '../blocks/like-buttons-card/like-buttons-card.scss';
@import '../blocks/radio-buttons-card/radio-buttons-card.scss';
@import '../blocks/toggle-buttons-card/toggle-buttons-card.scss';
@import '../blocks/header/header.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/impressions/impressions.scss';
@import '../blocks/room-comments/room-comments.scss';
@import '../blocks/rules/rules.scss';
@import '../blocks/reset/reset.scss';
//pages import
@import '../pages/colors-and-types/colors-and-types.scss';
@import '../pages/form-elements/form-elements.scss';
@import '../pages/cards/cards.scss';
@import '../pages/headers-and-footers/headers-and-footers.scss';
@import '../pages/index/index.scss';
@import '../pages/search-room/search-room.scss';
@import '../pages/room-details/room-details.scss';
@import '../pages/user-sign-in/user-sign-in.scss';
@import '../pages/user-registration/user-registration.scss';

body {
  margin: 0;
  font-family: $bodyFont;
  color: rgba($mainColor, 0.75);
  font-size: 14px;
  line-height: 24px;
  min-width: 320px;
}

img, svg {
  display: block;
}