//utils import
@import './utils/fonts.scss';
@import './utils/variables.scss';
@import './utils/mixins.scss';
//modules import
@import './modules/content-wrapper.scss';
@import './modules/visually-hidden.scss';
@import './modules/ui-kit.scss';
//blocks import
@import '../blocks/*/*.scss';
//pages import
@import '../pages/*/*.scss';

body {
  margin: 0;
  font-family: $bodyFont;
  color: rgba($mainColor, 0.75);
  font-size: 14px;
  line-height: 24px;
  min-width: 320px;
}

img, svg {
  display: block;
}