//utils import
@import './utils/*.scss';
//modules import
@import './modules/*.scss';
//layouts import
@import '../layouts/*/*.scss';
//blocks import
@import '../blocks/*/*.scss';
//pages import
@import '../pages/*/*.scss';

body {
  margin: 0;
  font-family: $bodyFont;
  color: rgba($mainColor, 0.75);
  font-size: 14px;
  line-height: 24px;
  min-width: 320px;
}

img, svg {
  display: block;
}