.cards {
  background-color: #E5E5E5;
  padding-top: 150px;
  padding-bottom: 140px;

  &__room {
    max-width: 270px;
  }
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  &__number-search, &__about-room, &__sign-in, &__calendar, &__registration, &__room {
    margin-bottom: 40px;
  }

  &__column {
    max-width: 380px;
    flex-grow: 2;
    
    &:last-of-type {
      max-width: 320px;
      flex-grow: 1;
    }
  }
}