extends ../../layouts/ui-kit/ui-kit
include ../../blocks/number-search/number-search
include ../../blocks/registration/registration
include ../../blocks/sign-in/sign-in
include ../../blocks/room/room
include ../../blocks/calendar/calendar
include ../../blocks/about-room/about-room
include ../../blocks/goods/goods

block title
  title Cards
block content
  section.cards
    .cards__content.content-wrapper
      .cards__column
        .cards__number-search
          +number-search()
        .cards__registration  
          +registration()
      .cards__column
        .cards__about-room
          +about-room()
        .cards__sign-in  
          +sign-in()
      .cards__column
        .cards__calendar
          +calendar()
        .cards__room
          +room(
            {
              url: require("./img/room888.png").default,
              number: 888,
              isLuxe: true,
              reviewsCount: 145,
              rating: 5,
              price: "9 990"
            })
        .cards__room    
          +room(
            {
              url: require("./img/room840.png").default,
              number: 840,
              isLuxe: false,
              reviewsCount: 65,
              rating: 4,
              price: "9 900"
            })