.cards {
  background-color: #E5E5E5;
  padding-top: 150px;
  padding-bottom: 140px;
}

.cards__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards__column {
  max-width: 380px;
  flex-grow: 2;
  
  &:last-of-type {
    flex-grow: 1;
  }
  
  & > article {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 1080px) {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}