extends ../../layouts/ui-kit/ui-kit
include ../../blocks/number-search/number-search
include ../../blocks/registration/registration
include ../../blocks/sign-in/sign-in
include ../../blocks/room/room
include ../../blocks/calendar/calendar
include ../../blocks/about-room/about-room
include ../../blocks/goods/goods

block title
  title Cards
block content
  - const { numberSearchOptions, registrationOptions, signInOptions, aboutRoomOptions, roomsProps } = require('./cards.json');
  main.cards
    .cards__content.content-wrapper
      .cards__column
        .cards__number-search
          +number-search(numberSearchOptions)
        .cards__registration  
          +registration(registrationOptions)
      .cards__column
        .cards__about-room
          +about-room(aboutRoomOptions)
        .cards__sign-in  
          +sign-in(signInOptions)
      .cards__column
        .cards__calendar
          +calendar()
        each roomProps in roomsProps
          .cards__room
            +room(roomProps)