.like-button {
  @include button-reset;
  width: 40px;
  height: 20px;
  border: 1px solid rgba($mainColor, 0.25);
  border-radius: 10px;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  &__img {
    width: 20px;
    & > svg {
      margin: 0 auto;
      stroke: rgba($mainColor, 0.25);
      fill: none;
    }
  }

  &__count {
    width: 20px;
    text-align: left;
    color: rgba($mainColor, 0.25);
  }

  &_liked {
    border-color: $purpleColor;
  }

  &_liked > &__img > svg path{
    stroke: $purpleColor;
    fill: $purpleColor ;
  }

  &_liked > &__count {
    color: $purpleColor;
  }
}