.like-button {
  @include button-reset;
  width: 40px;
  height: 20px;
  border: 1px solid rgba($primaryColor, 0.25);
  border-radius: 10px;
  font-family:  inherit;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  &__svg {
    margin-left: 5px;
    stroke: rgba($primaryColor, 0.25);
    fill: none;
  }

  &__count {
    margin-right: 3px;
    flex-grow: 2;
    color: rgba($primaryColor, 0.25);
  }

  &_liked {
    border-color: $tertiaryColor;
  }

  &_liked > &__svg {
    stroke: $tertiaryColor;
    fill: $tertiaryColor ;
  }

  &_liked > &__count {
    color: $tertiaryColor;
  }
}