.header {
  @include cardShadow;
  background-color: #fff;
  padding: 0 20px;

  &__content {
    position: relative;
    max-width: 1160px;
    padding: 15px 0;
    margin: 0 auto;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  &__burger-button {
    display: none;
    position: relative;
    @include button-reset;
    width: 30px;
    height: 26px;
    &:before,&:after {
      transform-origin: center;
      transition: all 0.5s ease;
      position: absolute;
      content: '';
      width: 30px;
      height: 4px;
      border-radius: 4px;
      background-color: rgba($primaryColor, 0.75);
      left: 0;
    }

    &:before {
      top: 0;
      box-shadow: 0 11px 0 rgba($primaryColor, 0.75);
    }
    &:after {
      bottom: 0;
    }
  }

  &__site-nav {
    margin-left: auto;
  }

  &__nav-list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 19px;
  }

  &__nav-item {
    &_expandable {
      position: relative;
      padding-right: 26px;
    }
  }

  &__nav-expand-button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
  }

  &__nav-link {
    text-decoration: none;
    color: rgba($primaryColor, 0.5);
    line-height: 17px;
    &_current {
      font-family: $decorativeFont;
      color: rgba($primaryColor, 0.75);
    }
  }


  &__user-name {
    position: relative;
    display: block;
    padding-left: 30px;
    line-height: 17px;
    color: rgba($primaryColor, 0.5);
    border-left: 1px solid rgba($primaryColor, 0.1);
    &:before {
      position: absolute;
      content: '';
      width: 1px;
      left: 0;
      top: -6.5px;
      bottom: -6.5px;
  
    }
  }

  @media screen and (max-width: $mediumBreakpoint) {
    &__content {
      flex-direction: column;
      gap: 30px;
    }

    &__logo {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }

    &__site-nav {
      margin-left: 0;
    }

    &__site-nav &__nav-list {
      flex-direction: column;
    }

    &__burger-button {
      display: block;
    }

    &__site-nav {
      display: none;
    }

    &__user-nav {
      display: none;
    }

    &_opened &__site-nav,
    &_opened &__user-nav {
      display: block;
    }
    &_opened &__burger-button {
      
      &:before,&:after {
        box-shadow: none;
        top: 50%;
      }
      &:before {
        transform: translateY(-50%) rotate(-45deg);
      }
      &:after {
        transform: translateY(-50%) rotate(45deg);
      }
    }

  }
}

