include ../expand-button/expand-button
include ../button/button

mixin header({ logoUrl = "", userName = "", links = [], buttonsOptions = [], isUserRegistered = false } = {})
  header.header
    .header__content
      .header__logo
        img.header__logo-svg(src = logoUrl, alt = "Toxin")
        button(type = 'button').header__burger-button
      nav.header__site-nav
        ul.header__nav-list
          each link in links
            - 
              const { text, url, isCurrent, isExpandable } = link;
              const linkText = text ? text : "";
              const currentClass = isCurrent ? "header__nav-link_current" : "";
              const expandableClass = isExpandable ? "header__nav-item_expandable" : "";
              const href = url ? url : "";
            li.header__nav-item(class = expandableClass)
              if isExpandable
                .header__nav-expand-button
                  +expand-button()
              a.header__nav-link(class = currentClass, href = href)= linkText
      nav.header__user-nav
        if userName !== "" && isUserRegistered
          span.header__user-name= userName
        else
          ul.header__nav-list
            each buttonOptions in buttonsOptions
              li.header__nav-item
                .header__nav-button.header__nav-button_login
                  +button(buttonOptions)