include ../expand-button/expand-button
include ../button/button
include ../toxin-logo/toxin-logo
//- 
  options.lang - 'ru'/'en'
  options.currentPage - 1-6
  options.userName - 'Your AwesomeName'

mixin header(options)
  -
    const { lang, currentPage, userName } = options; 
    const enLinksText = ['Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation'];
    const ruLinksText = ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'];

    let linksText;
    if (lang === 'ru') linksText = [...ruLinksText];
    else if (lang === 'en') linksText = [...enLinksText];

    const isExpandableItem = (linkText) => {
      return linkText === 'Services' || linkText === 'Услуги' || linkText === 'Соглашения';
    };

    const isCurrentPage = (index) => index + 1 === currentPage;
  header.header(class = attributes.class)
    .header__content
      .header__logo
        +toxin-logo().header__logo-svg
      nav.header__site-nav
        ul.header__nav-list
          each linkText, index in linksText
            - 
              const itemClassModifier = isExpandableItem(linkText) ? 'header__nav-item_expandable' : '';
              const currentPageClassModifier = isCurrentPage(index) ? 'header__nav-link_current' : '';
            li.header__nav-item(class = itemClassModifier)
              if itemClassModifier
                +expand-button().header__nav-expand-button
              a.header__nav-link(href="#" class = currentPageClassModifier)= linkText
      nav.header__user-nav
        if userName
          span.header__user-name= userName
        else
          ul.header__nav-list
            -
              let buttonsText;
              if (lang === 'ru') buttonsText = ['Войти', 'Зарегистрироваться'];
              else if (lang === 'en') buttonsText = ['Login', 'Registr'];
            li.header__nav-item  
                +button({ type: 'stroked', text: buttonsText[0] }).header__nav-button.header__nav-button_login
            li.header__nav-item  
                +button({ type: 'filled', text: buttonsText[1] }).header__nav-button.header__nav-button_registr