include ../star-rating/star-rating

mixin rate-buttons-card({ title = "", rateButtonsOptions = [] } = {})
  section.rate-buttons-card
    h3.rate-buttons-card__title= title
    ul.rate-buttons-card__list
      each rateButtonOptions in rateButtonsOptions
        li.rate-buttons-card__item
          .rate-buttons-card__star-rating
            +star-rating(rateButtonOptions)
