//- 
  options.names - array of list items names
  options.title - title
mixin bullet-list(options)
  article.bullet-list(class = attributes.class)
    if options.title
      h2.bullet-list__title= options.title
    ul.bullet-list__list
      each name in options.names
        li.bullet-list__item= name